@import '../../theme/swatches';

.list-item {
  display: grid;
  align-items: baseline;
  position: relative;
  line-height: 1.4;
  margin-bottom: 0;

  &:hover {
    background-color: var(--link-color);

    .list-item {
      &__date {
        color: var(--background);
      }

      &__link {
        color: var(--background);
      }
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background: var(--background); // gray3
  }

  &--with-date {
    grid-template-columns: 8ch 1fr;
  }

  &__date {
    font-family: 'Inconsolata';
    padding-right: 1ch;
    color: var(--date-color);
    font-size: 14px;
  }

  &__link {
    color: var(--text-color);
    font-size: 18px;
    // text-transform: uppercase;
    font-family: 'Karla';
  }
}
