@import '../theme/base.scss';

.blog-template {
  max-width: 592px;
  margin: 0 auto;

  &__category {
    margin-bottom: 4px;
  }

  &__date {
    font-size: 14px;
    font-family: 'Inconsolata';
    margin-bottom: 8px;
  }

  &__title {
    color: $post-title;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__postmatter {
    border-top: 1px solid $border;
    margin: 8px 0;
    padding-top: 8px;
  }

  &__to {
    color: $post-title;
  }

  img {
    border: 1px solid $image-border;
    background: $image-background;
    padding: 8px;

    &.blog-template__banner-image {
      border: 0;
      padding: 0;
      text-align: right;
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    margin-top: 90px;
    justify-content: space-between;

    &__next {
      text-align: right;
    }

    &__previous {
      text-align: left;
    }
  }

  del {
    color: $del;
    opacity: 0.25;
  }

  blockquote {
    font-style: italic;
    padding: 1em 0;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $heading;
  }

  hr {
    background: $border;
  }
}

.duthaldumat {
  color: #e43800;
}

// Syntax high-lighting code block background
:not(pre)>code[class*='language-'],
pre[class*='language-'] {
  background-color: $code-background;
}
