@import '../theme/base.scss';

.blog-template {
  max-width: 592px;
  margin: 0 auto;

  &__post {
    text-align: right;
  }

  &__date {
    font-size: 14px;
    font-family: 'Inconsolata';
    margin-bottom: 8px;
    text-align: left;
  }

  &__title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
  }

  &__content {
    text-align: left;
  }

  img {
    border: 1px solid #e8e8e8;
    padding: 8px;

    &.blog-template__banner-image {
      border: 0;
      padding: 0;
      text-align: right;
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    margin-top: 90px;
    justify-content: space-between;

    &__next {
      text-align: right;
    }

    &__previous {
      text-align: left;
    }
  }
}
