<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="social-media-list">
            <a href="https://github.com/luetkemj">
              <span class="username">github</span>
            </a>
 ~
            <a href="https://twitter.com/2816monument">
              <span class="username">twitter</span>
            </a>
 ~
             <a href="https://twitter.com/luetkemj">
              <span class="username">instagram</span>
            </a>

      </div>
      <div class="footer-col  footer-col-2"></div>

      <div class="footer-col  footer-col-3">
          <a class="page-link" href="{{ site.baseurl }}/about">about</a> ~
          <a class="page-link" href="mailto:luetkemj@gmail.com">contact</a>
      </div>
    </div>

  </div>

</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-19986175-2', 'auto');
  ga('send', 'pageview');

</script>
