/**
 * Site header
 */
.site-header {
    position: relative;
}

.masthead{
	position: relative;
	margin-top: 40px;

	img{
		border: none;
	}

	.site-title {
		display: block;
		position: relative;
		left: -4px;
	}

	.sub-title {
		display: block;
		font-family: $display-font-family;
		font-size: 16px;
		color: $brand-color;
	}

	.logo{
		position: absolute;
		right: -20px;
		top: -5px;
		width: 84px;
	}

}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


.post-nav{
	margin-bottom: 4 * $spacing-unit;
}

.next-post-link{
 width: 49%;
 float: right;
 text-align: right;
}

.previous-post-link{
 width: 49%;
 float: left;
}



#disqus_thread{

}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
        text-align: left;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
	width: 49%;
	margin-top: 40px;
	margin-bottom: 60px;
    margin-left: 0;
    list-style: none;

    &.blog{
        float: left;
    }

    &.comics{
        float: right;
    }

    h2{
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        border-bottom: 1px solid black;
    }

    > li {
    	&:first-child{
    		border-top: 1px solid $grey-color;
    	}
    	border-bottom: 1px solid $grey-color;

        // border-top: 1px solid red;
        // &:not(::first-line){
        //     font-weight: bold;
        // }
    }

    li:hover{
		background-color: $brand-color;

		.post-meta, .post-link{
			color: white;
		}
	}
}

@include media-query($on-palm) {
	.post-list {
		width: 96%;
		margin-left: auto;
		margin-right: auto;
	}
}

.post-meta {
    font-size: 14px;
    color: $grey-color;
    font-family: Inconsolata;
}

.post-link {
    font-size: 18px;
    text-transform: uppercase;
    color: $brand-color;

    &:visited {
    	color: darken($grey-color, 15%);
    }
}



/**
 * Posts
 */

.post{
	width: 80%;
	margin-left: 15%;
}

@include media-query($on-palm) {
	.post{
		width: 100%;
		margin-left: 0;
	}
}

.comic{
    .hide-watermark{
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: 5px;
          left: 0;
          background-color: white;
          height: 20px;
          width: 100%;
        }
    }

    img{
        border: none;
    }
}

.post-header {
	margin-top: 40px;
    margin-bottom: $spacing-unit;
	color: black;
	padding-top: 2 * $spacing-unit;
	position: relative;
	text-align: left;

	.post-meta{
		color: black;
		font-size: 14px;
	}

	&.with-illustration{
		padding-top: $spacing-unit / 2;
        text-align: right;
		.post-header-text-wrap{
			position: absolute;
			bottom: 0;
			left: 0;
			text-align: left;
			z-index: 1;
		}
	}

	.illustration{
		border: none;
		padding: 0;
		max-width: 100%;
	}
}

.hidden{
	display: none;
}

.post-title {
	font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 700;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 16px;
   		padding-top: $spacing-unit;
   		margin-bottom: $spacing-unit / 2;
   		text-transform: uppercase;
        font-weight: 700;
    }

    h3 {
        font-size: 16px;
		border: 1px solid $brand-color;
		color: $brand-color;
		margin-top: 2 * $spacing-unit;
   		margin-bottom: $spacing-unit;
   		text-transform: uppercase;
   		border-left: none;
   		border-right: none;
    }

    h4 {
        font-size: 16px;
		color: $brand-color;
		margin-top: 2 * $spacing-unit;
   		margin-bottom: $spacing-unit;
   		text-transform: uppercase;
    }

    .meta{
		border: 1px solid $brand-color;
		padding: 1%;
		margin-top: 2 * $spacing-unit;
   		margin-bottom: $spacing-unit;
	}
}


