$white: #fff;
$black: #1d1e20;
$jetblack: #000;

$green1: #37b5a8;

$gray1: #828282;
$gray2: #e8e8e8;
$gray3: #404346;
$pink1: #ff6680;

$text-color: $gray1;
$link-color: $green1;
$date-color: $gray3;
$footer-border: $gray3;
$pink: $pink1;

// blog post colors
$heading: $green1;
$post-title: $green1;
$image-border: $gray3;
$image-background: rgba($gray3, 0.25);

$border: $gray3;
$code-background: $gray3;
$del: $text-color;
