$white: #fff;
$black: #111;

$green1: #50e3c2;

$gray1: #828282;
$gray2: #e8e8e8;

$pink1: #ff6680;

$text-color: $black;
$link-color: $green1;
$date-color: $gray1;
$footer-border: $gray2;
$pink: $pink1;
