@import '../theme/swatches';

.index {
  @media screen and (min-width: 650px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
  }

  &__header {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.4;
    margin-bottom: 0;
    color: var(--heading);

    border-bottom: 1px solid var(--border);
  }

  &__post-list {
    list-style-type: none;
    margin: 0 0 1.7em 0;
  }
}
