@import '../../theme/swatches';

.header {
  padding: 24px;

  &__masthead {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    a {
      text-decoration: none;
      color: $link-color;
      transition: color 150ms ease;
    }

    &__logo {
      fill {
        color: $link-color;
      }

      width: 74px;
      margin-left: 24px;

      @media screen and (min-width: 360px) {
        width: 84px;
      }

      @media screen and (min-width: 420px) {
        width: 88px;
      }

      @media screen and (min-width: 460px) {
        width: auto;
      }
    }

    &__name {
      font-size: 18px;
      margin-bottom: 8px;
    }

    &__tagline {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}
