@import '../theme/base';

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: $black;
  color: $white;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: $link-color;
}

.layout {
  &__wrapper {
    color: $white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__sprinkles {
    position: fixed;
  }

  &__header {
    position: fixed;
    width: 100vw;
  }

  &__content {
    width: 100%;
    margin: 0 auto;
    max-width: 960px;
    // where do these calculations come from???
    // mixing px and rem? pick a side dammit; we're at war!
    padding: 0 1.0875rem 1.45rem;
    margin-top: 183px;
    flex: 1;

    > div {
      background: $black;
      position: relative;
      z-index: 1;
    }
  }
}
